.leaflet-marker-icon {
    color: #fff;
    line-height: 25px;
    text-align: center;
    vertical-align: bottom;
    box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    border-width: 3px;
    border: 2px solid #fff;
    opacity: .95;
    font-size: 1.5em;
    box-sizing: content-box;
}

.daily {
    margin-bottom: 16px;
    margin-right: 16px;
}

@media (min-width:1750px) {
    .slider-element {
        background-color: azure;
        display: none;
        margin-bottom: 16px;
        margin-right: 16px;
        padding: 12px;
        border-radius: 20px;
        box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22) !important;
        text-align: center;
    }
    .timeline-slider {
        display: flex;
        align-items: center;
        padding: 10px;
    }
    .start-time,
    .end-time {
        margin: 0 10px;
    }
    .progress-bar {
        width: 1500px;
    }
    .time-slider {
        pointer-events: auto;
    }
}

@media (max-width:1750px) {
    .start-time,
    .end-time {
        display: none;
    }
    .slider-element {
        background-color: azure;
        display: none;
        margin-bottom: 16px;
        margin-right: 16px;
        padding: 12px;
        border-radius: 20px;
        box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22) !important;
        text-align: center;
    }
    .progress-bar {
        width: 1000px;
    }
    .timeline-slider {
        display: flex;
        align-items: center;
        padding: 10px;
    }
}

@media (max-width:1140px) {
    .start-time,
    .end-time {
        display: none;
    }
    .slider-element {
        background-color: azure;
        display: none;
        margin-bottom: 16px;
        margin-right: 16px;
        padding: 12px;
        border-radius: 20px;
        box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22) !important;
        text-align: center;
    }
    .progress-bar {
        width: 700px;
    }
    .timeline-slider {
        display: flex;
        align-items: center;
        padding: 10px;
    }
}

@media (max-width:840px) {
    .start-time,
    .end-time {
        display: none;
    }
    .slider-element {
        background-color: azure;
        display: none;
        margin-bottom: 16px;
        margin-right: 16px;
        padding: 12px;
        border-radius: 20px;
        box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22) !important;
        text-align: center;
    }
    .progress-bar {
        width: 500px;
    }
    .timeline-slider {
        display: flex;
        align-items: center;
        padding: 10px;
    }
}

@media (max-width:650px) {
    .start-time,
    .end-time {
        display: none;
    }
    .slider-element {
        background-color: azure;
        display: none;
        margin-bottom: 16px;
        margin-right: 16px;
        padding: 12px;
        border-radius: 20px;
        box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22) !important;
        text-align: center;
    }
    .progress-bar {
        width: 350px;
    }
    .timeline-slider {
        display: flex;
        align-items: center;
        padding: 10px;
    }
}

@media (max-width:510px) {
    .start-time,
    .end-time {
        display: none;
    }
    .slider-element {
        background-color: azure;
        display: none;
        margin-bottom: 16px;
        margin-right: 16px;
        padding: 12px;
        border-radius: 20px;
        box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22) !important;
        text-align: center;
        width: 280px;
    }
    .progress-bar {
        width: 220px;
    }
    .timeline-slider {
        display: flex;
        align-items: center;
        padding: 10px;
    }
}